body {
  font-family: "Inter", sans-serif;
  margin: 16px 24px;
  font-size: 14px;
  color: #494949;
}

.counts-table {
  font-size: 16px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.counts-table tbody tr td:first-child {
  width: 140px;
}

.counts-table tbody tr td:last-child {
  text-align: right;
}

.counts-table tbody tr td {
  padding: 8px 0px 8px 0px;
  border-bottom: 1px solid #ddd;
}

.layer-count {
  font-size: 14px;
  color: #5e6a75;
  margin-top: 16px;
}
